h1, h2 {
  font-family: 'Montserrat', sans-serif;
} 

h5 {
  font-family: 'Montserrat', sans-serif;
  color: #444444;
}

label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  color: rgb(53, 53, 53);
}

footer {
  padding: 50px 0 15px 0;
}

.navbar-fixed {
  z-index: 1;
}

.btn {
  text-transform: none !important;
}

.delete-btn {
  margin: 0 10px;
}

li {
  line-height: 4;
}

input[type="cottageName"],
input[type="cottageLocation"],
input[type="cottageImage"], 
input[type="cottagePerNight"],
input[type="cottagePerWeek"], 
input[type="cottageSleeps"], 
input[type="cottageSlug"],
input[type="cottageDescription"],
input[type="cottageBedrooms"],
input[type="cottageBathrooms"]
{
  margin: 10px 0;
  padding: 0.6rem 0.5rem;
  font-size: 1rem;
  border: 2px solid #b6b6b6;
  /* background-color: var(--gray-100); */
  color: #5a5a5a;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
}

.collection-item:hover {
  background-color: #eeeeee;
}

.leland {
  background-image: url(/assets/images/Leland.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.callout {
  justify-content: center;
  padding-top: 5%;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.leelanau {
  background-image: url(/assets/images/NorthLakeLeelanau.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.northport {
  background-image: url(/assets/images/Northport-Main.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cottage-title {
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.spinner-wrapper {
  padding-top: 50px;
  min-height: 200px;
}