h1, h2 {
  font-family: 'Sriracha', cursive;
} 

h4 {
  font-family: 'Sriracha', cursive;
  color: #444444;
}

footer {
  padding: 50px 0 15px 0;
}

.leland {
  background-image: url(/assets/images/Leland.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.callout {
  justify-content: center;
  padding-top: 5%;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.leelanau {
  background-image: url(/assets/images/NorthLakeLeelanau.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.northport {
  background-image: url(/assets/images/Northport-Main.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cottage-title {
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
